*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

:root{
    font-size:16px;
}

body{
    background-image: url(../images/bg22.png);
    background-attachment: fixed;
    background-size: auto;
}

/* body{
    background-image: url(../images/bg2.jpg);
    background-attachment: fixed;
    background-size: cover;
    width: 100vw;
    height: 100vh;
} */

/* Navbar css */

.menu{
    z-index: 1;
    position: fixed;
    display: flex;
    /* background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 50%, rgba(0,0,0,0) 100%);; */
    background-color: rgb(21,24,37);
    border-bottom: solid 4px 	rgb(184, 115, 51);
    width: 100%;
    height: 5rem;
    padding: 1rem;
    
}

.menu>img:hover{
    cursor: pointer;
}

.leftMenu { 
    float: left;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content:space-between;
}

.menuOptions{
    cursor: pointer;
    display: flex;
    margin: auto;
    text-decoration: none;
    

}

.menuOptionsText{
    padding: 0 .5rem;
    font-size: 1.3rem;
    text-decoration: none;
    color: white;
}

.menuOptionsText:hover{
    color: peru;
} 

.active{
    color: peru !important;
    border-bottom: solid 2px peru;
}

.menuOptionsText:after {
    display:block;
    content: '';
    
    border-bottom: solid 3px peru;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
}

.menuOptionsText:hover:after { 
    transform: scaleX(1); 
}


.contact{
    display: flex;
    justify-content: end;
    margin-left: auto;
    width: 100%;
}

.contactBox{
    position: relative;
    padding: .5rem;
    margin: 0 .5rem;
    display: flex;

}


/* Intro css */



.intro{
    position: relative;
    background-image: url(../images/bg22.png);
    background-attachment: fixed;
    background-size: auto;
    backdrop-filter: blur(100px);
    width: 100%;
    height: 100vh;
    display: block;
    padding: 15% 5% 5% 20%;
    color: white;
}

.myJob{
    color: white;
    font-size: 2rem;
}

.intro > p{
    margin: 2rem 3rem 3rem 3rem;
}

.name{
    font-size: 4rem;
    font-weight: bold;
    color: 	rgb(197, 137, 64);
}

.intro>code{
    color: white;
    font-size: 2rem;
}

/* About Me CSS */
/* 
.SectionBreak{
    position: relative;
    top:25%;
    height: 5vh;
} */

.aboutMeConatiner{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    top: 25%;
    padding: 8rem 2rem 8rem 2rem;
    background-color: rgba(23, 27, 39, 0.8);
    border-bottom: solid 1px rgb(184, 115, 51);
    border-top: solid 1px rgb(184, 115, 51);
}

/* .aboutMeConatiner>img{
    position: relative;
    width: 400px;
    height: 400px;
    height: fit-content;
} */

.AboutMe{
    position: relative;
    flex: 1 1 0px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgba(48, 52, 65, 0.7);
    border: solid 0.3rem rgb(184, 115, 51); 
    border-radius: 20px;
    opacity: 0;
}

.AboutMeAnimIn{
    animation-name: aboutMeAnimationIn;
    animation-duration: 3s;
    opacity: 1;
}

@keyframes aboutMeAnimationIn {
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
    
}

code{
    font-size: 1.3rem;
    color: white;
    display: flex;
}

.AboutMeText{
    font-size: 1.2rem;
    color:white;
    margin: 0 3rem;
}

.educationContainer{
    display: flex;
    flex: 1 1 0px;
    flex-direction: column;
    border-left: peru solid 3px;
    margin: 0 2rem;
    padding: 2rem;
    color: white;
}

.masterEdu, .bachelorEdu{
    position: relative;
    width: 100%;
    margin: 2rem 0;
    opacity: 0;
}

.educationAnimation{
    opacity: 1;
    animation-name: educationAnim;
    animation-duration: 2s;
    margin-left: 0;
}


@keyframes educationAnim {
    from{
        left:1000px;
    }to{
        left:0;
    }
}




.educationContainer>div>b>span{
    color: peru;
    font-size: 1.3rem;
}

.educationSkills{
    margin: 1rem 2rem;
}


.contact>code{
    display:none;
}

/* Skills CSS */

.skillsContainer{
    position: relative;
    top: 25%;
    background-color: rgba(32, 35, 47,0.85);
    padding: 8rem 2rem;
}

#Skills{
    /* position: relative; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* top:25%; */

    padding: 4rem 2rem;
}

.skill{
    width: 100px;
    height: 100px;
    padding: 1rem;
}

.skillsAnimation{
    animation-name: skillBoxAnimation;
    animation-duration: 2s;
}

@keyframes skillBoxAnimation {
    from{
        width: 0;
        opacity: 0;
    }to{
        width: 100%;
        opacity: 1;
    }
}
 
.skillIcon{
    visibility: hidden;
    width: 100%;
} 


.topSkillsLine{
    /* position: relative;
    top: 25%; */
    margin: auto;
    width: 100%;
    height: 20px;
    border: 0;
    box-shadow: inset 0 15px 20px -20px rgba(205, 134, 63, 0.5);
}

.bottomSkillsLine{
    /* position: relative;
    top: 25%; */
    margin: auto;
    width: 100%;
    height: 20px;
    border: 0;
    box-shadow: inset 0 -15px 20px -20px rgba(205, 134, 63, 0.5);

    /* box-shadow: inset 0 12px 12px -12px rgb(90, 90, 90)); */
}

.skillsLine{
    position: relative;
    top: 25%;
    margin: auto;
    height: 3px;
    width: 90%;
    background-color: peru;
    border:none;
    color: peru;
}

.skillsLineAnimation{
    animation-name: lineAnimation;
    animation-duration: 3s;
}

@keyframes lineAnimation {
    from{
        width: 0%;
    }to{
        width: 90%;
    }
}

/* Projects CSS */

.projectsContainer{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    top: 25%;
    padding: 4rem 5rem;
    background-color: rgba(255, 255, 255, 0.2);
    border-top: solid 1px rgb(184, 115, 51);
}

.projectsContainer>code{
    width: 100%;
    justify-content: center;
}

.projectBox{
    position: relative;
    margin: 2rem;
    width: 300px;
    height: 150px;
    border-top: solid 3px peru;
    border-bottom: solid 3px peru;
    border-radius: 10px;
}


.descriptionProject, .imageProject{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 10px;
}

.descriptionProject{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    z-index: 10;
}

.descriptionProject>p{ 
    color: peru;   
    font-weight: bolder;
}

.descriptionProject>*{
    margin: 1rem;
}

.descriptionProject>button{
    width: 20%;
    height: auto;
    padding: .2rem 0;
    border-radius: 10px;
    border: solid 2px rgb(107, 67, 26);
    background-color: peru;
    font-weight: bold;
    color: white;
}

.descriptionProject>button:hover{
    text-align: center;
    background-color: rgb(136, 88, 40);
    border: solid 2px white;
}

.descriptionProject:hover{
    opacity: 1;
    background-color: rgba(21,24,37, 0.9);
    animation-name: descriptionAnim;
    animation-duration: 1s;

}

@keyframes descriptionAnim {
    from{
        opacity:0;
    }to{
        opacity: 1;
    }
}

.hangman{
    background-image: url(../images/hangman.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.pokedex{
    background-image: url(../images/pokedex.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bankApp{
    background-image: url(../images/bankApp.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.horoscopeApp{
    background-image: url(../images/horoscopeApp.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bridgeBuilderGame{
    background-image: url(../images/bridgeBuilder.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#footer{
    position: relative;
    color: white;
    top: 25%;
    background-color: rgb(21,24,37);
    border-top: solid 2px rgb(184, 115, 51);
    height: 4rem;
    width: 100%;
}

#footer>span{
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    
} 



.startAnim{
    position: relative;
    margin:1rem;
    height: 10px;
    opacity: 0;
}

/* MEDIA */

/* MIN-WIDTH: 900px */

@media only screen and (max-width: 1000px) {
    .AboutMeText{
        font-size: 1rem;
        margin: 0 1rem;
    }
}
@media only screen and (max-width: 900px) {

    .aboutMeConatiner{
        flex-direction: column;
    }

    .educationContainer{
        border: none;
        margin-top: 2rem;
    }

    .container {
        position: fixed;
        right: 0;
        margin: 1rem 2rem;
        display: inline-block;
        cursor: pointer;
    }
    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 2px;
        background-color: #ffffff;
        margin: 8px 0;
        transition: 0.4s;
    }
    
    .change .bar1 {
        transform: translate(0, 10px) rotate(-45deg);
    }
    
    .change .bar2 {opacity: 0;}
    
    .change .bar3 {
        transform: translate(0, -10px) rotate(45deg);
    }
    .menu{
        display: flex;
        flex-direction: column;
        padding: 0;
        flex-direction: column;
    }
    .leftMenu{
        flex-direction: column;
        width: 100%;
    }
    .leftMenu>img{

        width: 50px;
        margin: 15px;
    }

    .menuOptions{
        height: 0;
        text-align: center;
        margin: auto;
        background-color: rgb(21,24,37);
        border-bottom: solid peru 2px;
        width: 100%;
    }
    .menuOptionsText{
        display: none;
        margin: auto;
        font-size: 2rem;
        padding: 10px;
    }

    .contact{
        display: none;
        justify-content: space-evenly;
        text-align: center;
        margin: auto;
        background-color: rgb(21,24,37);
        border-bottom: solid peru 2px;
        width: 100%;
        padding: 20px;
    }
    .contactBox{
        display: flex;
        justify-content: center;
        padding: 10px;

    }

    .contactBox>img{
        text-align: center;
        width: 50%;
    }


}

@media screen and (max-width: 650px) {
/* Burger menu */


    .contact>a{
        padding: 0;
    }

    .intro > p{
        margin: 2rem;
    }

    .intro{
        padding: 50% 10%;
    }

    .myJob{
        color: white;
        font-size: 1rem;
    }
    
    .intro>code{
        font-size: 1.2rem;
    }
    
    .name{
        font-size: 2rem;
        font-weight: bold;
        color: 	rgb(197, 137, 64);
    }

    .aboutMeConatiner{
        padding: 2rem 1rem;
    }

    .AboutMe{
        padding: 1rem;
    }

    .AboutMeText{
        font-size: 1rem;
    }

    code{
        font-size: 1.1rem;
    }

    .educationContainer{
        padding: 2rem 1rem;
    }

    #Skills>code{
        width: 100%;
        justify-content: center;
    }

    #Skills{
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;

    }
    .skill{
        margin: .5rem !important;
    }

    .projectsContainer{
        padding: 2rem;
    }

    .projectBox{
        position: relative;
        width: 300px;
        border-radius: 10px;
    }

    .descriptionProject{
        opacity: .9;
        background-color: rgba(21,24,37, 0.9);
        animation-name: descriptionAnim;
        animation-duration: 1s;
        justify-content: space-evenly;
    
    }
    .descriptionProject>*{
        margin: .3rem;
    }


    
}